<div class="container-fluid">
    <div class="row">
        <div class="col apresentacao">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod inventore sint nobis nemo! Eum minima voluptates quidem voluptatibus unde dolores consectetur hic, odio expedita officia, eveniet architecto temporibus ea vitae.</p>
        </div>
        <div class="col imagem">
            <img src="/corte-feminino.png" alt="num sei">
        </div>
    </div>
</div>