.container-fluid {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, #8052E3, #B39DE3);
}

.apresentacao {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  padding: 5vh;
}

.imagem img {
  opacity: 60%;
  transform: scaleX(-1);
  height: 80vh;
  width: 80vh;
}

.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
}
