.tipos-de-cabelo{
  height: auto;
  background-color: #AF52E3;
  border-top: solid 0.5px white;
  padding: 10vh;
}
.title{
  color: white;
  font-family: "Calistoga", serif;
  margin-bottom: 5vh;
}
.cards{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}
.card{
  height: 40vh;
  width: 30vh;
  border-radius: 8%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.imagem-card{
  height: 30vh;
  width: 30vh;
  border-top-right-radius: 8%;
  border-top-left-radius: 8%;
}
.nome-cabelo{
  font-family: "Italiana", sans-serif;
  font-size: 4vh;
  margin-top: auto;
  margin-bottom: auto;
}
.legenda-cabelo {
  display: none;
  position: absolute;
  top: 50%;
  left: 105%;
  opacity: 0;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  font-size: 2vh;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 1s ease;
}
.card:hover .legenda-cabelo, .card:hover .legenda-cabelo-ultimo{
  display: block;
  opacity: 1;
}
.legenda-cabelo-ultimo{
  display: none;
  position: absolute;
  top: 50%;
  right: 105%;
  opacity: 0;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  font-size: 2vh;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 1s ease;
}
