<div class="tipos-de-cabelo">
  <h2 class="title">Especializados em todos os tipos de cabelo</h2>
  <div class="cards">
    <div class="card">
      <img src="/corte-ondulado.jpg" alt="" class="imagem-card">
      <p class="nome-cabelo">Ondulados</p>
      <div class="legenda-cabelo">Cortes e finalizações que valorizam as ondas naturais.</div>
    </div>
    <div class="card">
      <img src="/corte-liso.jpg" alt="" class="imagem-card">
      <p class="nome-cabelo">Lisos</p>
      <div class="legenda-cabelo">Cortes e finalizações que valorizam os lisos naturais.</div>
    </div>
    <div class="card">
      <img src="/corte-cacheado.jpg" alt="" class="imagem-card">
      <p class="nome-cabelo">Cacheados</p>
      <div class="legenda-cabelo-ultimo">Cortes e finalizações que valorizam as ondas naturais.</div>
    </div>
  </div>
</div>
